@model IEnumerable<jzo.Models.ItemViewModels.GetAllItemGroupViewModel>
@*
   Manage store, groups and items views
*@
@{
    var orders_count = Model.Select(x => x.newOrders).FirstOrDefault();
}
<style>
    .orders{
        border-left:2px solid #0047AB;
        padding:1em;
        background:whitesmoke;
        color:#0047AB
    }
    .no_orders{
        border-left:2px solid rgba(0,0,0,0.4);
        padding:1em;
        background:whitesmoke;
        color:rgba(0,0,0,0.4)
    }
</style>
<div class="container">
    <h1 style="margin-top:4em; margin-bottom:2em; color:rgba(0,0,0,0.6)">
        <i class="ion ion-bag"></i>&nbsp;My Store&nbsp;
        <span style="font-size:12pt;">

            @if (orders_count == 0)
            {
                <a href="~/group/pending" style="text-decoration:none; " class="no_orders">
                    You have <b>@orders_count</b> pending orders
                </a>
            }
            else
            {
                <a href="~/group/pending" style="text-decoration:none; " class="orders">
                    You have <b>@orders_count</b> new pending orders
                    &nbsp;<i class="ion ion-chevron-right"></i>

                </a>
            }

        </span>
        <span style="font-size:12pt; margin-left:10px;">
            <a class="no_orders" href="~/group/shipped">
                shipped Orders
                &nbsp;<i class="ion ion-chevron-right"></i>
            </a>
        </span>
        <span style="font-size:12pt; float:right;">
            <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#Create-group-modal">+ Create Group</button>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#add-item-group-modal">+ Add new items to store</button>
        </span>
    </h1>




    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        @{
            if (Model.Count() == 0)
            {
                <p class="container" style="text-align:center; font-size:16pt; padding-top:2em; padding-bottom:15em;">
                    <i>**You do not have any items or product category in your store**</i>
                </p>
            }
            else
            {
                foreach (var item in Model)
                {
                 <div id="group_@item.group.Id" class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne_@item.group.Id">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_@item.group.Id" aria-expanded="true" aria-controls="collapseOne">
                                <img style="width:100px; height:auto; margin-right:2em;" src="@item.group.imageUrl" />
                                @item.group.name
                            </a>
                            <span style="float:right; font-size:12pt;">
                                <b><i>No of Items:</i>&nbsp;@item.items.Count</b>
                            </span>
                        </h4>
                    </div>
                    <div id="collapse_@item.group.Id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_@item.group.Id">
                        <div class="panel-body">
                            <p style="padding-left:1em;">
                                <b>Description</b><br />
                                <span>
                                    @item.group.description
                                </span>
                                <span style="float:right; padding-bottom:2em;">
                                    <button data-id="@item.group.Id" class="btn btn-danger remove-group">remove group</button>
                                    <button class="btn btn-default" >Edit</button>
                                </span>
                            </p>
                            <!--table here-->
                            <div style="padding-left:1em;">
                                <table class="table table-bordered table-striped table-condensed">
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>Name</td>
                                        <td>description</td>
                                        <td>Unit price (NGN)</td>
                                        <td>Quantity in stock</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    @{
                                        foreach (var store_item in item.items)
                                        {
                                            <tr id="tr_item_@store_item.Id">
                                                <td><img src="@store_item.image_url" style="width:50px; height:auto;" /></td>
                                                <td><a href="~/group/details?itemId=@store_item.Id">@store_item.name</a></td>
                                                <td>@store_item.description</td>
                                                <td>@store_item.price</td>
                                                <td>@store_item.quantity</td>
                                                <td>
                                                    <button data-id="@store_item.Id" style="text-decoration:none; margin-right:1em;" class="btn btn-warning remove-item" title="remove this item">
                                                        <i class="ion ion-android-close"></i>
                                                    </button>
                                                    <button style="text-decoration:none" class="btn btn-default" title="edit item" data-toggle="modal" data-target="#EditModal" data-whatever="@store_item.Id"><i class="ion ion-edit"></i></button>
                                                </td>
                                            </tr>

                                        }
                                    }
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                }
            }
         }
    </div>
</div>

<!-- Create Group Modal -->
<div class="modal fade" id="Create-group-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form name="add-group" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">+ Create a new group of Items</h4>
            </div>
            <div class="modal-body">
                <div class="drop-message">

                </div>
                <div class="form-group">
                    <label class="control-label">Title</label>
                    <input name="name" class="form-control" type="text" placeholder="Item Group title... e.g Tunic Shirts" />
                </div>
                <div class="form-group">
                    <label class="control-label">description of items</label>
                    <input name="description" class="form-control" type="text" placeholder="Description... e.g Tunic Shirts for men" />
                </div>
                <div class="dropzone col s12" id="my-dropzone" name="mainFileUploader">

                    <div class="dz-message" data-dz-message>
                        <span style="font-size:10pt; text-align:center">
                            <i class="ion ion-ios-cloud-upload-outline"></i><br />
                            Click to upload or drag/drop an image here that describes this group of items
                        </span><br />
                        <span><i>Max file Size: 1.5mb</i></span><br />
                    </div>
                    <div class="fallback">
                        <input name="file" type="file" required />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default close-dismiss" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary save-changes">Next</button>
                @*  <button type="button" class="btn btn-success item-add" data-toggle="modal" data-target="#add-item-group-modal">+ add new items to this group</button>*@
                <button type="button" class="btn btn-primary complete">finish</button>
            </div>
        </form>
    </div>
</div>


<!--Add items to group modal-->
<div class="modal fade" id="add-item-group-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form name="add-item" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">+ Add new items to store</h4>
            </div>
            <div class="modal-body">
                <div class="item-drop-message">

                </div>
                <div class="form-group">
                    <label class="control-label">Item Group</label>
                    <select name="group_id" class="form-control">
                        <option selected disabled>Select group </option>
                        @{
                            foreach (var item in Model)
                            {
                                <option value="@item.group.Id">@item.group.name</option>

                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Title</label>
                    <input name="name" class="form-control" type="text" placeholder="Item Group title... e.g Tunic Shirts" />
                </div>
                <div class="form-group">
                    <label class="control-label">description of items</label>
                    <input name="description" class="form-control" type="text" placeholder="Description... e.g Tunic Shirts for men" />
                </div>
                <div class="form-group">
                    <label class="control-label">Unit price </label>
                    <input name="price" class="form-control" type="text" placeholder="unit price" />
                </div>
                <div class="form-group">
                    <label class="control-label">Quantity</label>
                    <input name="quantity" class="form-control" type="text" placeholder="quantity of items" />
                </div>
                <div class="dropzone col s12" id="item-dropzone" name="itemFileUploader">

                    <div class="dz-message" data-dz-message>
                        <span style="font-size:10pt; text-align:center">
                            <i class="ion ion-ios-cloud-upload-outline"></i><br />
                            Click to upload or drag/drop an image of this item
                        </span><br />
                        <span><i>Max file Size: 1.5mb</i></span><br />
                    </div>
                    <div class="fallback">
                        <input name="file" type="file" required />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default item_close-dismiss" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary item_save-changes">Next</button>
                @*  <button type="button" class="btn btn-success item-add" data-toggle="modal" data-target="#add-item-group-modal">+ add new items to this group</button>*@
                <button type="button" class="btn btn-primary item_complete">finish</button>
            </div>
        </form>
    </div>
</div>

<!--Update item modal-->
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <form name="update-item" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">+ Add new items to store</h4>
            </div>
            <div class="modal-body">
                <div class="edit-item-drop-message">

                </div>
                <div class="form-group">
                    <label class="control-label">Item Group</label>
                    <select name="edit_group_id" class="form-control">
                        <option selected disabled>Select group </option>
                        @{
                            foreach (var item in Model)
                            {
                                <option value="@item.group.Id">@item.group.name</option>

                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Title</label>
                    <input name="edit_name" class="form-control" type="text" placeholder="Item Group title... e.g Tunic Shirts" />
                    <input name="edit_group_id" class="form-control" type="hidden" />
                    <input name="edit_img_url" class="form-control" type="hidden" />
                </div>
                <div class="form-group">
                    <label class="control-label">description of items</label>
                    <input name="edit_description" class="form-control" type="text" placeholder="Description... e.g Tunic Shirts for men" />
                </div>
                <div class="form-group">
                    <label class="control-label">Unit price </label>
                    <input name="edit_price" class="form-control" type="text" placeholder="unit price" />
                </div>
                <div class="form-group">
                    <label class="control-label">Quantity</label>
                    <input name="edit_quantity" class="form-control" type="text" placeholder="quantity of items" />
                </div>
                <div class="dropzone col s12" id="edit-item-dropzone" name="itemFileUploader">

                    <div class="dz-message" data-dz-message>
                        <span style="font-size:10pt; text-align:center">
                            <i class="ion ion-ios-cloud-upload-outline"></i><br />
                            Click to upload or drag/drop an image of this item
                        </span><br />
                        <span><i>Max file Size: 1.5mb</i></span><br />
                    </div>
                    <div class="fallback">
                        <input name="file" type="file" required />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default item_close-dismiss" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary item_update_changes">Next</button>
                @*  <button type="button" class="btn btn-success item-add" data-toggle="modal" data-target="#add-item-group-modal">+ add new items to this group</button>*@
                <button type="button" class="btn btn-primary item_update_complete">finish</button>
            </div>
        </form>
    </div>
</div>