@model jzo.Models.ItemViewModels.SalesViewModel

@{
    ViewData["Title"] = "JZO Fashion limited";
}

<!--Main carousel-->
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators visible-lg">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>

    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
           @* <img src="~/images/Babatunde-20161120T180657Z/Babatunde/Babatunde2.jpg" alt="BABATUNDE" class="img-responsive" />*@
            <img src="~/images/x1.png" alt="BABATUNDE" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p class="call-to-action-1 animated slideInDown visible-lg visible-md hidden-sm hidden-xs">
                    <a href="~/store" class="btn btn-default">See collection &nbsp; <i class="ion ion-chevron-right"></i></a>
                    @* <button class="btn btn-primary">Customize order</button>*@
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Babatunde-20161120T180657Z/Babatunde/Babatunde4.jpg" alt="BABATUNDE" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p class="call-to-action-2 animated slideInUp visible-lg visible-md hidden-sm hidden-xs">
                    <a href="~/store" class="btn btn-primary">See collection &nbsp;<i class="ion ion-chevron-right"></i></a>
                    @*  <button class="btn btn-default">Customize order</button>*@
                </p>
            </div>
        </div>

    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <i class="glyphicon glyphicon-chevron-left" aria-hidden="true"></i>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

@{
    if (Model.featuredCollections.Count() == 0)
    {
        <div style="padding-bottom:20em; padding-top:20em;">
            <p style="text-align:center; font-size:18pt;">
                <i style="color:#0047AB; font-size:25pt" class="ion ion-bag"></i><br /><br />
                Thank you for visiting our store. We are currently loading the store. <br />
                Please check back in a few minutes..<br /><br />
                <button class="btn btn-default" data-toggle="modal" data-target="#message-group-modal"> <i class="ion ion-ios-email-outline"></i> Drop a message and we'll respond to you ASAP</button>
            </p>
        </div>
    }
    else
    {
        <!--Featured category & Featured products-->
        <div class="container featured-collection">
            <h2>Featured Collection</h2><hr />
            <div class="featured-content">

                <div class="row">
                    @{
                        foreach (var item in Model.featuredCollections)
                        {
                            <div class="col-lg-4 featured_img">
                                <a href="~/store?groupId=@item.Id" style="text-decoration:none;">
                                    <img style="width:300px; height:auto;  border-bottom:2px solid #0047AB" src="@item.imageUrl" />
                                </a>
                                <br />
                                <span style="display:block; padding-top:1em;">
                                    <a href="~/store?groupId=@item.Id" class="btn btn-default" style="width:83%">See collection </a>
                                    @* <button class="btn btn-primary">Customize order </button>*@

                                </span>
                                <h3 style="color:#808080">@item.name</h3>
                            </div>
                        }
                    }
                </div>
            </div>

            <h2 style="padding-top:4em;">Featured Products</h2><hr />
            <div class="featured-content" style="padding-bottom:15em;">
                @*<div class="row">
                        @{
                            foreach (var item in Model.featuredItems)
                            {
                              <div class="col-lg-3 featured_img"  style="padding-top:4em;">
                                    <a href="~/group/details?itemId=@item.Id" style="text-decoration:none;">
                                        <img style="width:200px; height:auto; " src="@item.image_url" />
                                    </a>
                                    <br />
                                    <span style="display:block; padding-top:1em; width:200px;">
                                        <a href="~/group/details?itemId=@item.Id" class="btn btn-default" style="width:100%">Order now <i style="float:right;" class="ion ion-chevron-right"></i> </a>

                                    </span>
                                    <h3 style="color:#808080">@item.name</h3>
                             </div>
                            }
                        }
                    </div>*@

                <ul class="products">
                    @{
                        foreach (var item in Model.featuredItems)
                        {

                            <li style="padding-top:4em;">
                                <a href="~/group/details?itemId=@item.Id">
                                    <img class="boxShadowClass" style="width:250px; height:auto;" src="@item.image_url">
                                    <p style="padding-top:2em; ">
                                        <span style="font-size:12pt">@item.name</span><br />
                                        <br /><br />
                                        <a href="~/group/details?itemId=@item.Id" class="btn">order <i class="ion ion-chevron-right"></i></a>

                                    </p>
                                </a>
                            </li>
                        }
                    }


                </ul>
            </div>
        </div>

        <!--View more-->
                        <div style="padding-bottom:20em;">
                            <p style="text-align:center; font-size:larger">
                                <i class="ion ion-bag" style="font-size:50pt; color:#0047AB"></i><br /><br /><br />
                                <span style="font-size:20pt">You are welcome to visit our store for more.. </span><br /><br />
                                <a href="~/store" class="btn btn-default"> Visit store now</a>
                            </p>
                        </div>

                        }

    <!-- Create Group Modal -->
                        <div class="modal fade" id="message-group-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <form name="send-message" class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">+ Send Message</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="drop-message">

                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Email</label>
                                            <input name="email" class="form-control" type="email" placeholder="Email address ...yourname@email.com" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Phone</label>
                                            <input name="phone" class="form-control" type="text" placeholder="your phone number" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Message</label>
                                            <textarea name="message" class="form-control" type="text" placeholder="Your message here..."></textarea>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default close-dismiss" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary save-changes">Send</button>
                                        @*  <button type="button" class="btn btn-success item-add" data-toggle="modal" data-target="#add-item-group-modal">+ add new items to this group</button>*@
                                        <button type="button" class="btn btn-primary complete">finish</button>
                                    </div>
                                </form>
                            </div>
                        </div>

}

